@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=League+Gothic&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

html {
  font-family: "Oswald", system-ui, sans-serif;
  scroll-behavior: smooth;
}